.mat-mdc-chip-listbox {
  gap: 8px;
}

.mat-mdc-chip-option {
  background-color: #012169 !important;
  color: white !important;
}

.mat-mdc-chip-option.mat-mdc-chip-selected {
  background-color: #c41230 !important;
}

:host {
  display: block;
  margin-bottom: 16px;
}
