<mat-sidenav-container class="sidebar-container">
  <mat-sidenav [mode]="'side'" [opened]="true" [class.collapsed]="collapsed">
    <div class="sidebar-header">
      <button mat-icon-button (click)="onToggleCollapse()">
        <mat-icon>{{ collapsed ? 'menu' : 'menu_open' }}</mat-icon>
      </button>
      @if (!collapsed) {
        <span class="brand-text">Digital Banking</span>
      }
    </div>

    @if (user) {
      <div class="user-section">
        <div class="user-avatar">{{ userInitials }}</div>
        @if (!collapsed) {
          <div class="user-info">
            <span class="user-name">{{ userFullName }}</span>
            <span class="user-email">{{ user.email }}</span>
          </div>
        }
      </div>
    }

    <mat-divider></mat-divider>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <mat-list-item
          (click)="onNavigate(item.route)"
          class="nav-item"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          @if (!collapsed) {
            <span matListItemTitle>{{ item.label }}</span>
          }
          @if (item.badge && !collapsed) {
            <span matListItemMeta>
              <span class="badge">{{ item.badge }}</span>
            </span>
          }
        </mat-list-item>
      }
    </mat-nav-list>

    <div class="sidebar-footer">
      <mat-divider></mat-divider>
      <mat-list-item (click)="onLogout()" class="nav-item logout-item">
        <mat-icon matListItemIcon>logout</mat-icon>
        @if (!collapsed) {
          <span matListItemTitle>Sign Out</span>
        }
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
